.navbar {
  background-color: #003300;
  overflow: hidden;
}

.navbar img {
  float: left;
  padding: 5px 16px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

body, html {
    height: 100%;
}


.bannerimage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.png");

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


h2, {
  font-size: 32px;
}

.content {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.paras {
    flex: 1;
    padding: 20px;
}

.images {
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 20px 20px 0 0;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #003300;
  color: white;
}
.causes-section {
  display: flex;
  gap: 30px;
  padding: 40px;
  align-items: center;
}

.causes-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cause-box {
  padding: 20px;
  background: #e6f2e6;
  border-left: 5px solid #2e7d32;
  border-radius: 5px;
  color: #2e7d32;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.takeaction-section {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.takeaction-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.takeaction-box {
  padding: 20px;
  background: #e6f2e6;
  border-left: 5px solid #2e7d32;
  border-radius: 5px;
  color: #2e7d32;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

.donatebtn {
  padding: 10px 20px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.donatebtn:hover {
  background-color: #256029;
}






