.navbar {
overflow: hidden;
background : green
}

.navbar a {
    float: left;
    display: block;
    colour: lightgreen;
    text-align: centre;
    padding: 20pz 25px;
    font-size: 20px;
    font-weight: 600;


}